version: "3.9"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: medsecure-api
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: production
      FLASK_DEBUG: 0
      JWT_SECRET_KEY: change-this-in-production
    volumes:
      # persist the sqlite db file on your host
      - ./backend/health_records.db:/app/health_records.db
